@import url(https://fonts.googleapis.com/css?family=Baumans);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);


$bauhaus-red:#BE5841;



h1 {
    font-family: 'Baumans', cursive;
}


a{
    color:$bauhaus-red;
    font-size:1.125rem;
    font-size:18px;
    text-decoration: none;
    
}


h2,h3,p{
   font-family: 'Open Sans', sans-serif;
    font-size:1.125rem;
    font-size:18px;
   
  
    line-height:1.4;
}

h3{
    font-size:25px;
    margin-left:15px;

}