@import url(https://fonts.googleapis.com/css?family=Baumans);

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

$bauhaus-red: #BE5841;
$bauhaus-black: #313131;
$bauhaus-gold: #CABA8D;

h1 {
    font-family: 'Baumans', cursive;
}

a {
    color: $bauhaus-red;
    font-size: 1.125rem;
    font-size: 18px;
    text-decoration: none;
}

p {
    width: 90%;
    font-size: 20px;
    line-height: 1.4;
    max-width: 550px;
    margin: 0 auto;
}

h2, h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125rem;
    font-size: 18px;
    line-height: 1.4;
}

h3 {
    font-size: 32px;
    
}