@import "reset";
@import "fontandcolor";

body {
    background: #F4EDDF;
    // background:url(../images/texture.png);
}

div {}

.page-wrapper {
    header {
        text-align: center;
        text-transform: uppercase;
        margin-top: 100px;
        h1 {
            font-size: 75px;
        }
        h2 {
            font-size: 16px;
        }
    }
    .summary {
        float: right;
        // background:red;
        width: 100%;
        position: relative;
        margin-top: 100px;
        &:before {
            position: absolute;
            height: 200px;
            background: $bauhaus-gold;
            content: '';
            width: 100%;
            -webkit-transform: skewY(-15deg);
            -moz-transform: skewY(-15deg);
            -o-transform: skewY(-15deg);
            -ms-transform: skewY(-15deg);
            transform: skewY(-15deg);
            -webkit-backface-visibility: hidden;
            -ms-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            z-index: 2;
        }
        &:after {
            position: absolute;
            height: 200px;
            background: #313131;
            content: '';
            width: 100%;
            -webkit-transform: skewY(15deg);
            -moz-transform: skewY(15deg);
            -o-transform: skewY(15deg);
            -ms-transform: skewY(15deg);
            transform: skewY(15deg);
            -webkit-backface-visibility: hidden;
            -ms-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            z-index: 2;
            margin-top: 550px;
        }
        p {
            text-align: right;
            float: right;
            margin-right: 5%;
            &:first-child {
                padding-top: 300px;
            }
            &:last-child {
                padding: 20px 0 100px 0;
            }
        }
    }
    .preamble {
        float: left;
        width: 100%;
        // background:red;
        &:before {
            margin-top: 195px;
            content: 'BAUHAUS';
            text-align: center;
            font-family: 'Baumans', cursive;
            font-size: 70px;
            background: $bauhaus-red;
            display: block;
            // margin-top: 20px;
            -webkit-transform: skewY(15deg);
            -moz-transform: skewY(15deg);
            -o-transform: skewY(15deg);
            -ms-transform: skewY(15deg);
            transform: skewY(15deg);
            -webkit-backface-visibility: hidden;
            -ms-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            padding: 20px 0 20px 0;
        }
        h3 {
            padding-top: 200px;
            border-bottom: 3px solid $bauhaus-black;
            margin-left: 5%;
        }
        p {
            margin-left: 5%;
            padding-top: 10px;
            &:last-child {
                padding-bottom: 200px;
            }
        }
        &:after {
            position: absolute;
            height: 200px;
            background: $bauhaus-gold;
            content: '';
            width: 100%;
            transform: skewy(-15deg);
            z-index: 2;
        }
    }
    // .explanation {
    //     padding-top: 250px;
    //     h3 {
    //         border-bottom: 3px solid $bauhaus-black;
    //         margin-right: 5%;
    //         text-align: right;
    //     }
    //     p {
    //            padding-top:10px;
    //         text-align: right;
    //     }
    // }
}

@import "mediaqueries";